In [0]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk

In [13]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
%ls

Final_Salty.csv  sample_data/

In [0]:
#csv file already ranked by SaltyScore

df = pd.read_csv('Final_Salty.csv')

In [16]:
df.head()

   Unnamed: 0  Comment_ID  ... Deleted SaltyScore
0        1118    23334754  ...   False      0.778
1         120    23338465  ...   False      0.731
2        1353    23320362  ...   False      0.714
3        1265    23335878  ...   False      0.599
4        2595    23329336  ...   False      0.592

[5 rows x 7 columns]

In [0]:
#drop extra column
df = pd.DataFrame.drop(df, columns='Unnamed: 0')

In [20]:
df

      Comment_ID  ... SaltyScore
0       23334754  ...      0.778
1       23338465  ...      0.731
2       23320362  ...      0.714
3       23335878  ...      0.599
4       23329336  ...      0.592
...          ...  ...        ...
3057    23338836  ...      0.000
3058    23337471  ...      0.000
3059    23336865  ...      0.000
3060    23338715  ...      0.000
3061    23341390  ...      0.000

[3062 rows x 6 columns]

In [0]:
#remove deleted comments and NaNs

df['Deleted'] = df['Deleted'].fillna(value=False)
df = df[df['Deleted'] == False] 
df = df.dropna()

In [25]:
#users by rank 
avg_salt = df.groupby(df['UserName'], as_index = False).aggregate({'SaltyScore':'mean'})
saltRank = pd.DataFrame(avg_salt.sort_values(by=('SaltyScore'), ascending=False))
saltRank

             UserName  SaltyScore
1857            rStar       0.778
1423       laretluval       0.731
970           eximius       0.714
2216    tobyhinloopen       0.599
2235             tosh       0.592
...               ...         ...
1157  iforgotpassword       0.000
1153            iddan       0.000
1152         icedchai       0.000
1150             ibdf       0.000
1220           jariel       0.000

[2440 rows x 2 columns]

In [0]:
#Sort Users
"""
def findUser(user):
  #user = df.groupby('UserName')['SaltyScore'].sum().sort_values().tolist()

  comments = pd.DataFrame()
  df_users = []

  for UserName in user:
    df_users = comments.append(df[(df['UserName'] == user)])

  return df_users
"""

In [34]:
findUser('rStar')

   Comment_ID  Comment UserName   StoryId  Deleted  SaltyScore
0    23334754  Fuck em    rStar  23331287    False       0.778

In [35]:
findUser('eximius')

   Comment_ID                     Comment  ... Deleted  SaltyScore
2    23320362  Risk aversion and capital?  ...   False       0.714

[1 rows x 6 columns]

In [0]:
#Sort User

def find_user(user):
  return df[df['UserName'] == user].sort_values(by='SaltyScore')

In [37]:
find_user('eximius')

   Comment_ID                     Comment  ... Deleted  SaltyScore
2    23320362  Risk aversion and capital?  ...   False       0.714

[1 rows x 6 columns]